In [5]:
# import data from csv file
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/marynelson/GAI_Academic_Advising_Assistant_MVP/exported_messages.csv')
df = df[df['message_role'] == 'user']
df.head()

,user_id,first_name,last_name,email,considerations,conversation_id,message_id,message_content,message_timestamp,message_role,rag_results,q1_usefullness_scale,q1_uesefullness_comment,q2_relevancy_scale,q2_relevancy_comment,q3_accuracy_scale,q3_accuracy_comment
0,MENelson@indianatech.edu,NaN,Nelson,NaN,"[{""Financial Need"": ""user is seeking financial...",66574a4a95c8d9f10c06598d,66579caf650efc71d66e923b,What are some strategies for networking with a...,5/29/24 21:22,user,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MENelson@indianatech.edu,NaN,Nelson,NaN,"[{""Financial Need"": ""user is seeking financial...",66574a6f95c8d9f10c065991,66574a8a95c8d9f10c065994,Can you provide guidelines on how to create a ...,5/29/24 15:32,user,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MENelson@indianatech.edu,NaN,Nelson,NaN,"[{""Financial Need"": ""user is seeking financial...",66574a6f95c8d9f10c065991,66579c82650efc71d66e9238,What are some strategies for networking with a...,5/29/24 21:22,user,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MXLangworthy@indianatech.edu,NaN,Langworthy,NaN,"[{""Interest and Passion"": ""biology major""}, {""...",665777ffc8461370d5c0821a,6657780fc8461370d5c0821d,what is the move in date for 2024,5/29/24 18:46,user,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MENelson@indianatech.edu,NaN,Nelson,NaN,"[{""Financial Need"": ""user is seeking financial...",66579e59650efc71d66e923c,66579e72650efc71d66e923f,How can I get involved in leadership roles wit...,5/29/24 21:30,user,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from conversation.run_graph import GraphFinder
from pathlib import Path
import json, csv
from data.models import UserSession

session_path = Path('/Users/marynelson/GAI_Academic_Advising_Assistant_MVP/app/data/mock_user_session.json')
with session_path.open(mode='r') as file:
    mock_user_session : UserSession = UserSession(**json.load(file))

results = []

def calc_similarity(question):
    graph_finder = GraphFinder(mock_user_session, question)
    topic_scores = graph_finder.get_topic_list_from_question()
    for topic_score in topic_scores:
        results.append([question, topic_score['name'], topic_score['score']])
    return results

In [9]:
df['topic_match'] = df.apply(lambda x: calc_similarity(x['message_content']), axis=1)
df.head()

Failed to write data to connection ResolvedIPv4Address(('35.226.25.193', 7687)) (ResolvedIPv4Address(('35.226.25.193', 7687)))
Failed to write data to connection IPv4Address(('p-a3ced147-4716-0017.production-orch-0180.neo4j.io', 7687)) (ResolvedIPv4Address(('35.226.25.193', 7687)))
Failed to write data to connection ResolvedIPv4Address(('35.226.25.193', 7687)) (ResolvedIPv4Address(('35.226.25.193', 7687)))
Failed to write data to connection IPv4Address(('p-a3ced147-4716-0017.production-orch-0180.neo4j.io', 7687)) (ResolvedIPv4Address(('35.226.25.193', 7687)))